html,
body {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.url {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.url:read-only {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #eee;
}

#btn {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #eee;
    cursor: pointer;
}
